body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
  padding: 40px;
}

h1, h2 {
  color: #00ff00;
}

a {
  color: #00ff00;
}
#terminal {
  border: 1px solid #00ff00;
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#input {
  width: 100%;
  padding: 10px;
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
}
